body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00274D; /* Fondo azul marino */
    color: #333;
}

header {
    background-color: #00274D; /* Fondo azul marino */
    color: #FFCC00; /* Color amarillo */
    padding: 20px;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #FFCC00; /* Color amarillo */
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    height: 130px; /* Agrandar el logo */
    margin-right: 10px;
    border: none; /* Asegurarse de que no haya borde */
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.content {
    margin: 20px auto;
    max-width: 800px; /* Aumentar el ancho máximo */
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #FFCC00; /* Color amarillo */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #D4A200; /* Color amarillo más oscuro */
}

button:focus {
    outline: 3px solid #D4A200;
}

video {
    width: 100%;
    max-width: 600px; /* Aumentar el tamaño del video */
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.audio-controls {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-controls button:not(#recordButton) {
    margin-top: 50px; /* Mueve otros botones hacia abajo */
}

#recordButton {
    position: relative;
    font-size: 20px; /* Tamaño más grande */
    padding: 20px 30px; /* Ajustar el tamaño del botón */
    z-index: 10; /* Asegurarse de que esté sobre los otros botones */
}
